<%- include('./partials/head') %>

<article>
  <header>
    <h1>Hallo</h1>
    <p>mijn naam is</p>
  </header>

  <p><%= data.name %></p>

  <footer></footer>
</article>

<%- include('./partials/foot') %>
