{% render 'partials/head.liquid' %}

<article>
  <header>
    <h1>Hallo</h1>
    <p>mijn naam is</p>
  </header>

  <p>{{ person.name }}</p>

  <footer></footer>
</article>

{% render 'partials/foot.liquid' %}
