@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: Helvetica, Arial, sans-serif;
  background: silver;
  color: #050542;
}

header {
  padding: 0.5rem;
  background: #A675F5;
  color: white;

  h1 {
    text-transform: uppercase;
  }
}

article {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 20rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  overflow: hidden;
  background: white;
  text-align: center;
  transform-origin: center;
  transform: rotate(2deg);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  > p {
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    transform-origin: center;
    transform: rotate(-6deg);
    word-break: break-all;
  }
}

footer {
  height: 1rem;
  background: #A675F5;
}